body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    
}
#navbar{
    display: flex;
    background-color: white;
    padding: 15px 50px 15px 50px;
    justify-content: space-between;
    margin: auto;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
}

#logo{
    height: 22px;
}

#options{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

#search{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}
#search>div:nth-child(4){
    font-size: 20px;
}
#search>div:nth-child(5){
    font-size: 20px;
}

div{
    cursor: pointer;
    font-size: 14px;
}
#search>input{
    padding: 8px;
    border: 0.5px solid rgb(33, 29, 29);
    border-radius: 3px;
}

#wishlist_count,#cartlist_count{
    position: absolute;
    margin-top: -35px;
    margin-left: 15px;
    background-color: black;
    color: white;
    padding: 0px 5px 0px 5px;
    font-size: 12px;
    border-radius: 50%;
}

#have_question{
    padding: 20px;
}


 /* ---------------------------------------------------------------------------------------------------------------------- */

h1,h4,h2,h3{
    padding: 20px;
    text-align: center;
}
#offer>img{
    width: 100%;
    margin-bottom: 30px;
}
#offer>#category{
    width: 80%;
    margin: auto;
}
#category>img{
    padding: 0;
    margin: 0;
    width: 100%;
}

 /* ---------------------------------------------------------------------------------------------------------------------- */

 #foot{
    width: 35%;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    
 }
 #foot>div{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
 }

 #foot>div>p{
    font-size: 14px;
 }

 #back_footer{
    background-color: antiquewhite;
    padding-bottom: 50px;
    width: 100%;
 }
#footer{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
}
#footer>#content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
#footer>#content>div{
    width: 30%;
}
#footer>#content>div>p{
    margin: 0;
    padding: 7px;
    width: 100%;
    
}

#footer>#content>div>p:first-child{
    font-weight: bold;
}

#footer>#search{
    width: 25%;
    display: block;
    margin-right: 10%;
}
#content_search{
    width: 30%;
}
#content_search>p:first-child{
    font-weight: bold;
}
#search1{
    display: flex;

}
#search1>input{
    width: 90%;
    padding: 8px;
    border: 0.5px solid grey;
}
#search1>button{
    background-color: black;
    color: white;
    padding: 0px 10px 0px 10px;
}
#contact{
    width: 85%;
    margin: auto;
}
#contact>#socialbar{
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}   
.fa-solid{
    font-size: 24px;
}

.fa-instagram,.fa-facebook-square,.fa-twitter,.fa-pinterest,.fa-youtube,.fa-linkedin{
    font-size: 28px;
}

#company_logo{
    padding: 10px;
    display: flex;
    width: 14%;
    justify-content: space-between;
    padding-bottom: 15px;
}
#company_logo>img{
    background-color: antiquewhite;
    width: 45%;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
#more{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    font-size: 12px;
    text-align: center;
}
#more>div>img{
    width: 100%;
}


#products{
    padding: 20px;
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#products>button{
    margin: auto;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    font-weight: bold;
   
}
#products>button:hover{
    background-color: grey;
    color: white;
    border: 0px;
}

#adv{
    background-color: rgb(233, 179, 80);
    /* width: 100%; */
    padding: 20px;
}
#adv1>h1{
    text-align: left;
}

#adv1{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
#adv1>img{
    width: 700px;
    
}

#ad1in{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
#ad1in>img{
    height: 350px;
}

#adv2{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 20px;
}
#adv2>div>img{
    height: 300px;
}
#adv2>div>h3{
    text-align: left;
    width: 90%;
    text-decoration: none;
}

#adv2>div>p{
    font-size: 14px;
    text-decoration: underline;
}


#instagram_photo{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#instagram_photo>img{
    width: 23%;
}